
body{
    background-color: rgb(220, 228, 220);
}
a{
    font-size:12px;
    margin-right: 20px;
    
}
#navbarNavAltMarkup{
    margin-left: 200px;
}
#nav{
    height: 80px;
}
.table{
    background-color: white;
   
    margin-left: 25px;
    margin-right: 25px;
    width: 95%;
    border-radius: 10px;
    font-size: 12px;
}
.main{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.sub-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.btn-group {
    font-size: 10px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
   
}
.btn-group p{
    margin-right: 15px;
}
h5{
    font-size: 14px;
    margin-left: 25px;
    margin-top: 25px;
}
p{
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.list{
    display: flex;
    
}
.list p{
    margin-top: 7px;
}


.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    height: 100px;
    max-width: 100%;
    
    border: 2px dashed rgba(189, 189, 189, 0.4);
    border-radius: 3px;
    transition: 0.2s
}

.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    
    margin-right: 10px;
    font-size: 12px;
   
}
.file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0
}


#drag-drop{
    width: 450px;
    height: 250px;
    border-radius: 5px;
}
#select{
    font-size: 10px;
    margin-left: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
}
h6{
    margin-left: 420px;
    margin-top: 100px;
    margin-bottom: 5;
}
.stat{
    display: flex;
    font-size: 12px;
    margin-top: 10px;
}
.img{
    width: 25px;
    height: 25px;
    margin-top: 15px;
    color: gray;
}
#img{
    display: flex;
    flex-direction: column;
}
#btnDepo{
    margin-top: 25px;
    margin-left: 320px;
    background-color: rgba(108,0,230,255);
    height: 30px;
    font-size: 12px;
    
} 
#btnStation{
    margin-right: 30px;
    background-color: rgba(108,0,230,255);
    height: 30px;
    font-size: 12px;
}
.indigo{
    color: rgba(108,0,230,255);
}
.thead{
    background-color: rgb(219, 235, 217);
    color: grey;
}
.divider{
    width: 400px;
    border: rgba(189, 189, 189, 0.4) solid 1px;
    margin-top: 20px;
}
.choose-file-button{
    background-color: rgba(189, 189, 189, 0.4) ;
    font-size: 10px;
}
.inp{
    display: flex;
    margin-right: 37px;
    align-items: center;
}
#name{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
#option{
    width: 100px;
    height: 30px;
   background-color: white;
   border: none;
   border-radius: 4px;
    
}

